*{
    margin:0;
    padding: 0;
}
:root{
    --main-color:#05530D;
    --light-color:#9EAEA0;
}
body{
    background-color: #e2ebe3;
}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--main-color);
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    background-color: var(--light-color);
    box-shadow: 0px 0px 10px #6d726d93;
}
.side-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.side-img img{
    width: 30%;
    box-shadow: 0px 0px 8px #333;
    border: 2px solid #C9C1C1;
}
.text-content{
    width: 70%;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-content h1{
    font-size: 28px;
    color: #fff;
    margin-bottom: 15px;
    font-family: inter;
    letter-spacing: 5px;
}

.text-content h2{
    font-size: 26px;
    color: #fff;
    margin-bottom: 15px;
    font-family: inter;
    letter-spacing: 5px;
}
.text-content h3{
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
    font-family: inter;
    letter-spacing: 5px;
}
.content{
    padding: 10px 0px;
}
.content p{
    color: #fff;
    font-family: inter;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1px;
}
.content ul{
    padding: 15px;
}

.content ul li{
    color: #fff;
    font-size: 14px;
    font-family: inter;
    font-weight: bold;
    margin-bottom: 15px;

}

footer p{
    color: #444;
    font-size: 18px;
    font-family: inter;
    font-weight: bold;
}
footer p a{
     padding-left: 10px;
     color: #000;
}
@media all and (max-width:720px) {
    .side-img{
     flex-direction: column;
     align-items: center;
    }
    .side-img img{
        width: 60%;
    }
    .text-content{
      width: 100%;
    }
    .text-content h1{
        font-size: 24px;
    }
    .text-content h2{
        font-size: 22px;
    }
    .text-content h3{
        font-size: 16px;
    }
    .content p{
        font-size: 12px;
    }
    .content ul li{
        font-size: 12px;
    }
    footer p{
        font-size: 13px;
    }
    .side-img{
        padding: 14px 0px;
    }
    .text-content{
        padding: 5px;
    }
}

@media all and (max-width:450px){
   
    .text-content h1{
        font-size: 20px;
    }
    .text-content h2{
        font-size: 18px;
    }
    .text-content h3{
        font-size: 14px;
    }
    .content p{
        font-size: 12px;
    }
    .content ul li{
        font-size: 10px;
    }
    footer p{
        font-size: 11px;
    }
}